# Version Control
.git
.gitignore

# Dependencies
**/node_modules
**/target
**/dist
**/build

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode
.idea
*.swp
*.swo

# Project specific
tmp/
test-ledger/

# Docker
docker-compose.yml
DOCKER.md
*.md

# Exclude other services not needed for backend build
frontend/
ipfs-service/
